In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings("ignore")

from sklearn.feature_selection import chi2, SelectKBest

In [2]:
# Path to the data file
file_path = r"D:\Data_Sets\Mobile_Prices\data.csv"

# Reading the data from the Southern Second Order file, and also passing the column names to south_data data frame
south_data = pd.read_csv(file_path)


# Printing the number of data points and the number of columns of south_data data frame
print("The number of data points in the data  :", south_data.shape[0])
print("The features of the data :", south_data.shape[1])

# Printing the head of south_data data frame
south_data.head(5)

The number of data points in the data  : 1965
The features of the data : 10

,shiptype,length,breadth,draught,longtitude,latitude,sog,cog,th,tss
0,71,151,23,8.3,9.00,38.42,10.0,218.5,222,1
1,71,151,23,8.3,9.00,38.42,11.4,222.4,230,1
2,71,151,23,8.3,9.01,38.42,12.2,232.8,239,1
3,71,151,23,8.3,9.01,38.42,13.1,240.3,243,1
4,71,151,23,8.3,9.02,38.42,14.2,244.7,248,1

In [3]:
south_data.isnull().sum()

shiptype      0
length        0
breadth       0
draught       0
longtitude    0
latitude      0
sog           0
cog           0
th            0
tss           0
dtype: int64

In [5]:
x = south_data.drop("tss", axis = 1)
y = south_data["tss"]

bestfit = SelectKBest(score_func=chi2, k=5)
features = bestfit.fit(x,y)
x_new = features.transform(x)

features.scores_

array([nan, nan, nan, nan, nan, nan, nan, nan, nan])